# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!index.html
!project.bundle.js
!project.bundle.js.map
!vendor.bundle.js
!vendor.bundle.js.map

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist folder/a/b1/ and folder/a/b2/
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!build/
!assets/
